body, h1, h2, p {
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff6f61;
    color: white;
    padding: 20px;
    text-align: center;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

/* General styling for the entire footer */
footer {
    background-color: #333; /* Dark background color */
    color: #fff; /* Text color */
    padding: 20px; /* Padding for content inside the footer */
    text-align: center; /* Center-align the content */
}


.logo {
    font-weight: bold;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.header-right a {
    text-decoration: none;
    margin-left: 20px;
    color: white;
}

.hero {
    padding: 20px 0;
}

.hero h1 {
    margin-bottom: 10px;
}

.hero p {
    margin-bottom: 20px;
}

button {
    background-color: #f8a488;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px 5%;
}

.search-ride, .sign-up, .log-in {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 45%;
}

.pffer-ride, {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 70%;
}

.search-ride {
    background-color: #ffd6c9;
}

.sign-up {
    background-color: antiquewhite;
}

.log-in {
    background-color: cadetblue;
}

.offer-ride {
    background-color: #c0e7fa;
    order: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Add padding for styling */
}

.cities {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.car-icon {
    font-size: 24px;
    margin: 0 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box; /* Ensures padding does not affect overall width */
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box; /* Ensures padding does not affect overall width */
}

/*table booking fees */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}
